[Unit]
Description=Backup service using zfs send/recv
After=zfs.service

[Service]
WorkingDirectory=/usr/bin
Restart=always
ExecStart=python3 /usr/bin/vzesync.py

[Install]
WantedBy=multi-user.target
Alias=backup.service
